.heading__title {
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
}

.donations {
    margin: 0 auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}