footer {
    background-color: black;
}

.footer-links {
    margin-top: 64px;
    margin-bottom: 24px;
}

.social-icon {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;

}

.footer-links {
    color: white;
    font-size: 32px;
}

.twitter {
    margin-top: 65px;
    font-size: 38px;
}

.copyright {
    font-size: 24px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}